Different LMOTS parameter sets for different levels

According to RFC8554 Section 6, HSS allow different LMS levels to use different parameter sets. This feature is not present in this feature.